*,
*::before,
*::after {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
@media only screen and (max-width: 38rem) and (min-width: 21rem) {
  body {
    display: flex;
    flex-direction: column;
  }
  .content,
  header,
  footer {
    place-content: center;
    align-items: center;
  }
  header {
    display: flex;
  }
  header .title {
    font-size: 2.5em;
    text-shadow: 2px 2px 10px green;
    color: rgb(236, 0, 0);
  }
  .menu {
    display: flex;
    list-style: none;
    flex-direction: column;
  }
  li.menu-itm {
    cursor: pointer;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    font-weight: 900;
  }
  li.menu-itm.acctive {
    color: #171e62;
    font-size: 1.5em;
    margin-bottom: 60.5vh;
    transition-delay: 0.1s;
    text-shadow: 1px 3px 6px rgb(21, 40, 102);
  }
  li.menu-itm.acctive + li:not(.acctive) {
    border-top: solid 0px;
  }
  .menu li:not(.acctive) {
    color: #00819d;
    border: solid 1px;
  }
  .menu li:not(.acctive) + li:not(.acctive) {
    border-top: solid 0px;
  }
  footer {
    bottom: 3%;
    width: 100vw;
    display: flex;
    font-weight: 400;
    position: absolute;
    color: rgb(0, 0, 0);
    text-shadow: 1px 3px 5px rgb(28, 49, 117);
  }
}
