@media only screen and (max-width: 38rem) {
  *,
  *::before,
  *::after {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-align: center;
  }
  body {
    height: 100vh;
  }
  header .title {
    font-size: 2.2rem;
    text-shadow: 2px 2px 10px green;
    color: rgb(236, 0, 0);
  }
  li.menu-itm {
    cursor: pointer;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: 900;
  }
  li.menu-itm.acctive {
    color: #1b2155;
    font-size: 1.4em;
    margin-bottom: 60.5vh;
    transition-delay: 0.1s;
    text-shadow: 1px 3px 6px rgb(21, 40, 102);
  }
  .menu li:not(.acctive) {
    color: #00819d;
    border: solid 1px;
  }
  .menu li.acctive + li:not(.acctive),
  li:not(.acctive) + li:not(.acctive) {
    border-top: solid 0px;
  }
  div.content > * {
    padding: 5%;
    width: 100vw;
    height: 50vh;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
  }
  div.contect {
    top: 35vh;
  }
  div.gallery {
    top: 28vh;
  }
  div.services {
    left: 15vw;
    width: 70vw;
    top: 24vh;
    border: solid 1px rgb(133, 173, 187);
  }
  div.services::before {
    left: 75vw;
    content: ">";
    font-weight: 900;
    position: absolute;
    font-size: xx-large;
  }
  div.services::after {
    left: -10vw;
    content: "<";
    font-weight: 900;
    position: absolute;
    font-size: xx-large;
  }
  div.home {
    top: 17vh;
  }
  footer {
    bottom: 0%;
    height: 8vh;
    width: 100%;
    position: absolute;
    color: rgb(0, 0, 0);
    text-shadow: 1px 3px 5px rgb(28, 49, 117);
  }
  @media only screen and (max-width: 21rem) {
    header .title {
      font-size: 1.5rem;
    }
    footer {
      font-size: 0.9rem;
    }
  }
}
@media only screen and (min-width: 38rem) {
  *,
  *::before,
  *::after {
    margin: 0%;
    padding: 0%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  body div {
    display: flex;
  }
  body {
    overflow: hidden;
    background: #ffffff;
  }
  .title {
    height: 6vh;
    font-size: 2rem;
    font-weight: 500;
    color: #82241d;
    background-color: #00acc1;
  }
  .menu {
    height: 85vh;
    display: flex;
    list-style: none;
    position: absolute;
    color: #795548;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .menu li {
    width: 20vw;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    background: rgb(255, 255, 255);
  }
  .menu li.acctive {
    font-weight: 900;
    font-size: 1.2rem;
    color: #d73b30;
  }
  main > .book {
    width: 1vw;
    left: 20vw;
    height: 89vh;
    position: absolute;
    background: rgb(94, 9, 97);
  }
  main > .content {
    left: 20vw;
    width: 79vw;
    display: flex;
    position: absolute;
    /* background: rgb(255, 255, 255); */
    background: url(/img/man.png);
    background-repeat: no-repeat;
    border: 2px solid rgb(248, 248, 248);
  }
  main > .content > * {
    width: 74%;
    height: 89vh;
    font-size: 1.2rem;
    text-align: center;
    flex-direction: column;
    justify-content: flex-end;
  }
  .home_one {
    width: 79vw;
    font-weight: 545;
    flex-direction: column;
  }
  .home_one > *:nth-child(1) {
    margin-bottom: 26%;
    color: rgb(255, 174, 0);
    font-family: Georgia, sans-serif;
    text-shadow: 2px 2px 5px darkblue;
  }
  .home_one > *:nth-child(2) {
    margin-bottom: 6%;
    font-family: Georgia, sans-serif;
    color: rgb(32, 53, 157);
  }
  @media only screen and (min-width: 50rem) {
    .home_one {
      margin-left: 10%;
    }
    .home_one > *:nth-child(1) {
      color: rgb(255, 174, 0);
      margin-bottom: 1%;
    }
    .home_one > *:nth-child(2) {
      margin-bottom: 28%;
    }
  }
  .copyright {
    bottom: 0%;
    height: 5vh;
    width: 100vw;
    position: absolute;
    color: #02090f;
    background-color: #b2ebf2;
  }
}
